---
---

@import "{{ site.theme }}";
$header-bg-color: #402A7E;
$header-bg-color-secondary: #7E51FF;

.page-header {
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $body-text-color;
  a {
    color: $body-link-color;
    text-decoration: none;
    padding: 8px;
    margin: 8px;
    border-radius: 2px;
    &:hover {
      background: #0003;
      text-decoration: none;
    }
  }
}